name: Publish Docker image

on:
  push:
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - master

jobs:
  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    strategy:
      matrix:
        include:
          - dockerfile: Dockerfile
            suffix: ""
            platforms: linux/amd64,linux/arm64,linux/arm/v7
          - dockerfile: Dockerfile-tengine
            suffix: "-tengine"
            platforms: linux/amd64,linux/arm64,linux/arm/v7
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}/fastdfs-nginx
            ygqygq2/fastdfs-nginx
          flavor: |
            suffix=${{ matrix.suffix }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./${{ matrix.dockerfile }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ matrix.platforms }}

  test:
    name: Test with Docker Compose
    runs-on: ubuntu-latest
    needs: push_to_registries
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Docker Compose Action
        uses: hoverkraft-tech/compose-action@v2
        with:
          compose-file: "./docker-compose.yml"
          down-flags: "--volumes"
